html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body, h1, h2, p, ul {
  margin: 0;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
button {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
}
img {
  max-inline-size: 100%;
  block-size: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
svg {
  inline-size: 1rem;
  block-size: 1rem;
}